p
{
	text-indent: 0.1in;
	margin: 5px;
}

a, a:link, a:visited, a:hover
{
	color: inherit;
	font-style: none;
	text-decoration: none;
}

h1,h2,h3,h4,h5
{
	margin: 0px 0px 5px 0px;
}

input[type='text'], input[type='password'],input[type='submit'], input[type='button'], select
{
	width: 100%;
	margin: 5px auto;
	padding: 5px 0px;
	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box; 
	box-sizing:content-box;
}

input[type='submit'], input[type='button']
{
	
}

.justify
{
	text-align: justify;
}

.div-menu-paginas
{
	/*border: 1px solid black;*/
	/*text-align: center;*/
	border-radius: 5px;
	color: #e9e9e9;
	float: right;
}

.div-menu-paginas div
{
	/*border: 1px solid yellow;*/
	border-radius: 0px 0px 5px 5px;
	width: auto;
	display: inline-block;
	padding: 10px 10px;
	margin: 0px 5px;
}

.div-menu-paginas div:hover
{
	background-color: #cecece;
	color: #286090;
}

.width-100
{
	position: relative;
	min-height: 30px;
}

.div-opcoes
{
	position: absolute;
	right: 0px;
	bottom: -10px;
	/*border: 1px solid black;*/
}

.div-paginacao
{
	text-align: center;
}

.div-paginacao-numero
{
	/*border: 1px solid black;*/
	background-color: #e9e9e9;
	border-radius: 5px;
	width: auto;
	display: inline-block;
	padding: 0px 10px;
}

/* STRUCTURE */

#pagewrap {
	padding: 5px;
	width: 1270px;
	margin: 10px auto;
}
header {
	overflow: auto;
	padding: 0px;
	background-color: #286090;
	border-radius: 5px 5px 0px 0px;
}

header img
{
	margin: 5px 0px 0px 5px;
}

#content {
	width: 290px;
	float: left;
	padding: 5px 15px;
}

#middle {
	width: 644px; /* Account for margins + border values */
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}

#sidebar {
	width: 310px;
	padding: 0px;
	float: right;
}

footer {
	clear: both;
	padding: 15px;
	background-color: #286090;
	border-radius: 0px 0px 5px 5px;
	color: #cecece;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
	
	#pagewrap {
		width: 94%;
	}
	#content {
		width: 41%;
		padding: 1% 4%;
	}
	#middle {
		width: 41%;
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;
		float: right;
	}
	
	#sidebar {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}

	header, footer {
		padding: 1% 4%;
	}
}

/* for 700px or less */
@media screen and (max-width: 600px) {

	#content {
		width: auto;
		float: none;
	}
	
	#middle {
		width: auto;
		float: none;
		margin-left: 0px;
	}
	
	#sidebar {
		width: auto;
		float: none;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

	header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}
	#sidebar {
		display: none;
	}

}


#content {
	background: #f8f8f8;
}

header, #content, #middle, #sidebar {
	margin-bottom: 5px;
}

#pagewrap, header, #content, #middle, #sidebar, footer {
	border: solid 1px #fff;
}